<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>9444734201-8trnnta07eo9fug1ojhla0gpt74r5e1q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.9444734201-8trnnta07eo9fug1ojhla0gpt74r5e1q</string>
	<key>API_KEY</key>
	<string>AIzaSyAU97tNOFdv8_wHT5GJWpCFcJo85WgKGNE</string>
	<key>GCM_SENDER_ID</key>
	<string>9444734201</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mcollect.origa.ai</string>
	<key>PROJECT_ID</key>
	<string>fir-project-4d27b</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-project-4d27b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:9444734201:ios:8506ee78b77e66c8d45e28</string>
	<key>DATABASE_URL</key>
	<string>https://fir-project-4d27b-default-rtdb.firebaseio.com</string>
</dict>
</plist>